.carousel-indicators > li {
  background-color: #eee;
  border-color: #eee;
  border-radius: 10px;
}

.carousel-indicators > .active {
  background-color: #263238;
  border-color: #eee;
  border-width: 2px;
  border-radius: 10px;
}

@media screen and (min-width: 768px) {
  .carousel {
    margin-top: 80px;
  }
}

@media screen and (max-width: 768px){
  .carousel {
    margin-top: 50px;
  }
}
