footer {
    clear: both;
    position: relative;
    bottom: 0;
    width: 100%;
    z-index: 10;
    height: 200px;
    background-color: #263238;
    margin: 0;
    padding-top: 20px;
}

footer > h4 {
  color: #fff;
  font-weight: 900;
  margin-bottom: 15px;
  text-transform: uppercase;
  text-align: center;
}

.social-media-icons {
  padding: 0;
  text-align: center;
}

.social-media-icons > li {
  display: inline-block;
  margin: 0 5px;
}

.social-media-icons > li > a {
  padding: 0px;
  width: 36px;
  height: 36px;
  line-height: 1px;
  font-size: 18px;
  display:table-cell;
  text-align: center;
  vertical-align: middle;
  background-color: #fff;
  border-radius: 18px;
  color: #222;
  transition: background-color 0.2s, color 0.2s;
}

/*.social-media-icons > li > a:focus,*/
.social-media-icons > li > a:hover {
  color: #FFF;
  transition: background-color 0.2s, color 0.2s;
}

#sn-icon-facebook:hover {
  background-color: #3B5998;
}

#sn-icon-twitter:hover {
  background-color: #55ACEE;
}

#sn-icon-dribbble:hover {
  background-color: #C73B6F;
}

#sn-icon-behance:hover {
  background-color: #1769FF;
}
