.warning {
  padding: 10px;
  color: white;
  background-color: #cc0000;
}

.warning > h2 {
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  font-size: 12pt;
}

.about-me {
  margin: 120px auto;
  text-align: center;
  max-width: 720px;
}

.about-me > h2 {
  font-weight: 900;
  text-transform: uppercase;
}

.about-me > p {
  font-weight: 500;
  font-size: 12pt;
}

.colored-link {
  background-color: #00E676;
  padding: 1px 5px;
  border-radius: 2px;
}

.colored-link > a {
  color: #263238;
  font-weight: 700;
  text-decoration: none;
}

.colored-link > a:hover {
  text-decoration: underline;
}

.specials {
  margin: 100px auto;
}

.specials > div > h3 {
  display: none;
  width: 100%;
  text-align: center;
  font-weight: 900;
  font-size: 24pt;
  margin: 20px auto;
}

.special-container {
  text-align: center;
}

.special-container > .special-bg {
  display: inline-block;
  margin-bottom: 15px;
}

.special-container > h4 {
  font-weight: 900;
  font-size: 14pt;
  text-transform: uppercase;
}

.special-container > p {
  margin: auto;
  font-size: 12pt;
  font-weight: 500;
}

.special-bg {
  height: 180px;
  width: 180px;
  border-radius: 90px;
  background-color: #263238;
}

.special-bg > img {
  height: 128px;
  padding: 10px;
  margin: 25px;
  display: inline-block;
}

@media screen and (min-width: 480px){
  .special-container > p {
    max-width: 240px;
  }
}

@media screen and (max-width: 480px){
  .warning > h2 {
    font-size: 8pt;
  }
}

@media screen and (max-width: 768px){
  .special-container {
    margin: 60px auto;
  }
}
