body {
  color: #263238;
  font-family: 'Catamaran', sans-serif;
  background-color: #eee;
  /*background-image: url("escheresque2.png");*/
  background-repeat: repeat;
}

.logo-img {
  float: left;
  margin: 15px 5px 15px 5px;
  height: 48px;
  padding: 5px;
}

.logo-img:hover {
  opacity: 1.0;
}

.brand-holder {
  opacity: 0.6;
}

.brand-holder:hover,
.brand-holder:focus {
  opacity: 1.0;
}

.navbar-inverse .navbar-brand {
  color: #fff;
  font-weight: 700;
  font-size: 12pt;
}

.navbar {
  border: 0;
  z-index: 99;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.4);
  background-color: #263238;
  text-transform: uppercase;
  text-align: center;
}

.navbar-inverse .navbar-nav > li > a {
  opacity: 0.6;
}

.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li > a:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: #FFF;
  opacity: 1.0;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.navbar-inverse .navbar-header > a:hover {
  color: #FFF;
}

.navbar-icon {
  display: block;
  margin: auto;
  height: 32px;
  padding: 5px;
}

@media screen and (min-width: 768px) {
  .navbar-nav a {
    line-height: 80px;
    height: 80px;
    padding: 20px;
  }

  .navbar-right a {
    line-height: 80px;
    height: 80px;
    padding: 20px;
  }

  .navbar-nav {
    float: right;
  }

  .navbar-brand {
    margin: auto;
    padding: 20px;
    height: 80px;
    position: relative;
    top: 10px;
    margin-right: 40px;
  }

  .navbar-tabItem {
    padding-bottom: 20px;
  }

  .navbar-right > li > a{
    height: 80px;
    line-height: 20px;
    padding: 20px;
  }

  .navbar-tabLabel {
    margin: 0;
    line-height: 20px;
  }
}

@media screen and (max-width: 768px){
  .navbar-icon {
    display: none;
  }

  .logo-img {
    display: none;
  }
}
