/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: $base-font-weight;
}



/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
        color: darken($brand-color, 15%);
    }

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}

.home {
  margin-top: 200px;
  @media screen and (max-width: 480px) {
    margin-top: 80px;
  }
}

.site-name {
  color: $grey-color-light;
  font-family: $display-font-family;
  font-size: 24pt;
  text-align: center;

  span {
    color: $grey-color-light;
    font-size: 16pt;
  }
}

.menu-nav-list {
  margin: auto;
  text-align: center;
  display: table;
}

$height-desktop: 40px;
.opt {
  display: table-cell;
  background-color: $grey-color-light;
  height: $height-desktop;
  padding: 0 20px;
  color: $grey-color-dark;
  //border-left: 1px solid #aaa;
  //border-right: 1px solid #aaa;
  cursor: pointer;
  font-size: 1em;
  transition: font-size, 0.5s;
}

.opt:hover {
  font-size: 2em;
  transition: font-size, 0.5s;
}

i {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 1.5em;
  //transition: font-size, 0.2;
}

/*
i:hover {
  font-size: 2em;
  transition: font-size, 0.2;
}
*/

h6 {
  line-height: $height-desktop;
  margin: 0;
  text-transform: uppercase;
  //display: table-cell;
  vertical-align: middle;
  font-family: $display-font-family;
}

$round-corners: 5px;
.menu-nav-list li:first-child{
  border-radius: $round-corners 0 0 $round-corners;
}

.menu-nav-list li:last-child{
  border-radius:  0 $round-corners $round-corners 0;
}
